.add-note {
  width: 350px;
}
.page-title {
  margin-top: 25px;
  margin-left: 50px;
}

.add-note-form {
  margin-left: 50px;
  width: 250px;
  .note-description {
    width: 100%;
  }
  .note-title {
    width: 100%;
  }
}

.add-note-button {
  margin-left: 50px;
}
