<div class="add-note">

  <h1 class="page-title">Add a note</h1>

  <form class="add-note-form" autocomplete="off">
    <mat-form-field class="note-title">
      <input matInput name="inputNote" placeholder="Note title" [(ngModel)]="title">
    </mat-form-field>

    <mat-form-field class="note-description">
      <textarea matInput name="inputNote" placeholder="Note description" [(ngModel)]="description"></textarea>
    </mat-form-field>

    <mat-form-field >
      <mat-label>Choose a category </mat-label>
      <mat-select *ngIf="categories" [(ngModel)]="idCategoryNote" name="categ">
          <mat-option *ngFor="let categ of categories" [value]="categ.id">{{categ.name}}</mat-option>
      </mat-select>
  </mat-form-field> 
  
  </form>

  <button class="add-note-button" mat-raised-button color="basic" (click)="add()">Add</button>

</div>
